:root {
    --hintergrund: #f2d0e4;
    --white: #fff;
    --nav-hintergrund: #a67792;
}

body {
    background-image: url(img/puenktchen-rosa.jpg);
    background-color: var(--hintergrund);
    line-height: normal;
}

#wrap {
    margin: auto;
    padding: 0;
    width: 56.875rem;
    height: auto;
    color: black;
    font-size: 1rem;
    font-family: Georgia, 'Lucida Calligraphy', serif;
}

#header {
    float: left;
    height: 15rem;
    width: 56.875rem;
}

#header2 {
    clear: left;
    padding: .625rem;
    height: 7.5rem;
    width: 55.625rem;
    background: var(--white);
}

nav {
    width: 55.625rem;
    padding: .625rem;
    background: var(--nav-hintergrund);
}
nav ul {
    list-style-type: none;
    background: var(--nav-hintergrund);
    margin: 0;
}
h1 {
    /* font-size: 25pt; */
    font-size: 2.08333rem;
    font-weight: normal;
    color: var(--nav-hintergrund);
}
h2 {
    font-size: 15pt;
    font-weight: normal;
    color: var(--nav-hintergrund);
}
main {
    float: left;
    padding: 1.25rem 1.875rem 1.875rem;
    margin-top: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
    width: 31.875rem;
    min-height: 28.125rem;
    background: var(--white);
}
.impressum {
    font-size: .75rem;
}
#spass {
    font-weight: bold;
}
.endpreise {
    font-size: .75rem;
    font-style: italic;
}
.schmucklink {
    text-align: right;
}
.schmucklink a {
    color: var(--nav-hintergrund);
}
article {
    float: left;
    width: 16.25rem;
    padding: 1.875rem;
    margin-block: 1.25rem;
    background: var(--white);
    font-size: .875rem;
    text-align: center;
}
.hinweise {
    font-weight: bold;
}
#linkbilder img {
    margin: .625rem;
}

.galerie-bild {
    height: 25rem;
    width: 15.3125rem;
    margin: .3125rem;
    float: left;
}

footer {
    float: left;
    padding: .625rem;
    height: 1.25rem;
    width: 55.625rem;
    background: var(--nav-hintergrund);
    color: var(--hintergrund);
    font-size: .75rem;
    text-align: center;
}